<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd
       	http://www.springframework.org/schema/context 
       	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	xmlns:context="http://www.springframework.org/schema/context"> <!-- bean definitions here -->
	<context:annotation-config />
 	<!-- <context:component-scan base-package="com.edu.Paola.controllers"/> -->
<!-- 	<context:component-scan base-package="net.viralpatel.spring3.controller"/>  -->

	<bean class="com.edu.Paola.model.Usuario" id="curso" scope="singleton" >
 	<property name="usuario" value="jonatan"/> 
	<property name="password" value="aa"/>
	
	
</bean>


 <bean id="multipartResolver"
  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
   <property name="maxUploadSize" value="4000000000" />
   </bean>

	<bean id="datasource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/curso" />
		<property name="username" value="root" />
		<property name="password" value="coraca777" />
	</bean>
	
	<bean id="myJDBCdaoSupport" class="com.edu.Paola.DAO.UsuarioDAO">
	 <property name="dataSource" ref="datasource"></property>
	</bean>
	
	<bean id="myJDBCdaoSupportCurso" class="com.edu.Paola.DAO.CursoDAO">
	 <property name="dataSource" ref="datasource"></property>
	</bean>
	
	<bean id="myJDBCdaoSupportUnidades" class="com.edu.Paola.DAO.UnidadesDAO">
	 <property name="dataSource" ref="datasource"></property>
	</bean>
	
		<bean id="myJDBCdaoSupportUsuario" class="com.edu.Paola.util.MapperUsuario">
	 <property name="dataSource" ref="datasource"></property>
	</bean>
	
	
	
	<bean class="com.edu.Paola.util.MapperUsuario" id="mapperUsuario" scope="singleton">
<property name="dataSource" ref="datasource"></property>
</bean>

	<bean id="myJDBCdaoSupportCursoMapper" class="com.edu.Paola.util.MapperCursos">
	 <property name="dataSource" ref="datasource"></property>
	</bean>
	
		<bean id="myJDBCdaoSupportUnidadesMapper" class="com.edu.Paola.util.MapperUnidades">
	 <property name="dataSource" ref="datasource"></property>
	</bean>
	
			<bean id="myJDBCdaoSupportUnidadesMapperAlumno" class="com.edu.Paola.util.MapperUnidadesAlumno">
	 <property name="dataSource" ref="datasource"></property>
	</bean>


</beans>